.btnShared {
  & .ant-btn-primary {
    border-color: #0870d9 !important;
    background: #0870d9 !important;
    height: 56px;
    border-radius: 14px;

    & label,
    & span {
      font: normal normal 600 16px/19px sans-serif !important;
    }
  }

  & .ant-btn-background-ghost.ant-btn-primary {
    color: #0870d9 !important;
    background: #fff !important;
  }
}
