@import '../../assets/scss/variable';

.home-page {
    .slide {
        height: 250px !important;
        width: 100%;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    & .content {
        display: flex;
        max-width: 400px;
        margin: auto;
        box-sizing: border-box;
    }
    & .left {
        background: linear-gradient(to bottom right, $--unnamed-color-25f7f2, $--unnamed-color-0870d9);
        margin: 10px 10px 10px 10px;
        width: 45%;
        padding: 10px;
        color: white;
    }
    & .right {
        margin: 10px 10px 10px 10px;
        width: 55%;
        height: 100%;
    }
    & .box {
        border: 1px solid $--unnamed-color-ededed;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px 0px $--unnamed-color-1d21a70a;
    }
    & .first-box {
        color: #3b4e65;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid $--unnamed-color-ededed;
        border-radius: 8px;
        height: calc(50% - 10px);
        margin-bottom: 10px;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px 0px $--unnamed-color-1d21a70a;
    }
    & .second-box {
        color: #3b4e65;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid $--unnamed-color-ededed;
        border-radius: 8px;
        height: calc(50% - 10px);
        margin-top: 20px;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px 0px $--unnamed-color-1d21a70a;
    }
    .icon {
        height: 85px;
        width: 85px;
    }
    .icon-small {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    .second-content {
        position: relative;
        max-width: 400px;
        margin: auto;
        box-sizing: border-box;
    }
    .left-content {
        border: 1px solid $--unnamed-color-ededed;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px 0px $--unnamed-color-1d21a70a;
        display: inline-block;
        width: calc(50% - 2px);
        background-color: $--unnamed-color-fdf6fe;
        margin-right: 2px;
        box-sizing: border-box;
        padding: 10px;
        .title {
            color: black;
            font-weight: 600;
        }
        img {
            width: 100%;
            height: 140px;
        }
    }
    .right-content {
        border: 1px solid $--unnamed-color-ededed;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px 0px $--unnamed-color-1d21a70a;
        display: inline-block;
        width: calc(50% - 2px);
        margin-left: 2px;
        background-color: $--unnamed-color-fdf6fe;
        box-sizing: border-box;
        padding: 10px;
        img {
            width: 100%;
            height: 140px;
        }
    }
    .small-text {
        color: black;
        font-size: 12px;
    }
    .small-icon {
        margin-right: 2px;
        display: inline-block !important;
        height: 18px !important;
        width: 18px !important;
    }
    .small-extra-text {
        color: gray;
        font-size: 12px;
    }
}

.cat-title {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  &::before {
    content: '';
    width: 4px;
    height: 14px;
    min-width: 4px;
    min-height: 14px;
    background: #e42310;
    margin-right: 12px;
    display: inline-block;
  }
}
.layout1-btn-booking-section {
	padding-top: 22px;
	.layout1-btn-booking-item{
    width: 25%;
    text-align: center;
    cursor: pointer;
    margin-top: -22px;
    padding: 2px;
    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
    svg,img{
      margin-bottom: 8px !important;
    }
  }
}
.hotnew{
  .slick-list{
    width: 100% !important;
    .slick-track .slick-slide.slick-active{
      padding: 0;
    }
  }
}
.home-link {
  width: 30%;
  color: var(--title-color);
  cursor: pointer;
  padding-right: 10px;
  & a {
    border: none;
    padding-bottom: 0.5px;
    font-size: 12px;
    line-height: 17.318px;
    color: var(--title-color);
  }
}
.notification-content{
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 100%;
  min-height: 27px;
  align-items: center;
}
.list-partner {
	padding-top: 22px;
}
.government-btn{
  .btn-booking-item{
    width: 25% !important;
  }
}
.title-homelayout{
  font-weight: 700;
}
.home-container {
  padding: 0px;
  max-width: 600px;
  margin-top: 24px;
}
.news-center{
  margin-bottom: 24px;
  & span::before{
    background:var(--primary-button-color),
  }
}
.mobile-content {
  padding: 0px 10px;
}

@media screen and (max-width: 992px) {
  .news-center{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .news-center{
    margin-bottom: 5px;
  }
  .home-container {
    margin-top: 15px;
  }
}

@media (max-width: 460px) {
  .more {
    & .d-flex {
      gap: unset;
    }
  }
  .btn-booking-section {
    padding-top: 10px;
    .btn-booking-item{
      margin-top: 0px;
    }
  }
  .title-homelayout{
    font-size: $text-normal-fs;
  }
  .layout1-btn-booking-section .layout1-btn-booking-item{
    width: 25%;
  }
}
.layout1-partner-img{
  width: 41px;
  height: 40px;
}
.one-slider{
  .slick-track{
    width: 100% !important;
  }
}
.layout1-partner-logo{
  display: flex;
  justify-content: center;
}
@media (max-width: 420px) {
  .layout1-btn-booking-section .layout1-btn-booking-item{
    width: 33.333%;
  }
}