@import "../../assets/scss/variable.scss";

.booking-hours-picker-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: $--gainsboro-9 !important;
    box-shadow: none;
    cursor: not-allowed !important;
    opacity: 1;
}

.booking-hours-picker {
    max-width: 600px;
    background-color: var(--background-color);
    border: 1px solid $--light-grey-color;
    border-radius: 4px;
    padding: 10px;
    .booking-hours-picker_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .booking-hours-picker_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
                grid-gap: 1em;
        .waiting-text {
            white-space: break-spaces;
        }
        .disabled-date {
            cursor: no-drop !important;
            background: $--light-grey-color;
        }
    }
    .booking-hours-picker_item {
        vertical-align: top;
        cursor: pointer;
        border-radius: 4px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        .wrap-text {
            // font-size: 12px;
            white-space: break-spaces;
            color: var(--primary-color);
            div {
                text-align: center;
            }
        }
    }
    .booking-hours-picker__day--text {
        text-align: center;
        font-weight: 500;
        color: var(--text-color);
    }
    .active {
        background: linear-gradient(to top, $--royal-blue-color, $--slate-blue-color);
        .booking-hours-picker__text {
            color: white!important;
        }
        .text-primary{
            color: white!important;
        }
        .wrap-text {
            color: var(--background-color) !important;
            text-align: center;
            div {
                color: var(--background-color) !important;
            }
        }
    }
}
