.SearchList {
  position: relative;

  & .ant-input-group .ant-input {
    padding: 13px 17px;
    width: 100%;
    border-right-width: 1px;
    z-index: 1;
    border-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  & .ant-input-search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 99;
  }

  & svg {
    color: #e5e5e5;
  }
}
