.custom-checkbox .ant-checkbox-wrapper {
  border-radius: 50%;
  border: 2px solid #0870d9;
}

.custom-checkbox .ant-checkbox-inner {
  border-radius: 50%;
  background: #fff;
  border: 2px solid #0870d9;
}

.custom-checkbox .ant-checkbox-inner::after {
  // content: url('/icon _check.png');
  position: absolute;
  top: 36%;
  border: none;
  left: 79%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  font-weight: bold;
}
