.layout1-btn-booking-section{
  background-color: var(--background-color) !important;
  border: 1px solid var(--bgr-list-btn-color);
  border-radius: 8px;
  margin: 0 16px;
  padding-top: 12px;
  box-shadow: 0px 4px 12px 0px #1D21A70A;
  justify-content: flex-start !important;
  .layout1-btn-booking-item{
    margin-top: 0 !important;
    svg,img{
      margin-bottom: 8px !important;
    }
  }
  &.layout1-btn-booking-section-single-row {
    .layout1-btn-booking-item {
      width: 25%;
    }
  }
}
.slider-list-btn{
  .slick-dots{
    bottom: 0px !important;
    li{
      width: 30px;
      max-width: 30px;
      border-radius: 25px;
      background-color: var(--unactive-button-color);
    }
    .slick-active{
      background: var(--primary-button-color) !important;
    }
  }
}
.title-homelayout{
  margin-bottom: 15px;
}

.banner-Layout2{
  max-width: 600px;
  margin: auto;
  height: 370px;
  padding-top: 30px;
  background-color: var(--background-banner-color);
  border-radius: 0 0 32px 32px;
}
.banner-Layout2-empty{
  background-color: transparent !important;
  height: 184px !important;
}

.layout2 {
  padding: 0 16px;
  .slick-arrow {
    display: none !important;
  }
  .slick-slide img {
    display: unset !important;
  }
  img {
    aspect-ratio: 358/134 !important;
  }
  .slick-initialized .slick-slide {
    padding: 0 4px !important;
    img {
      border-radius: 8px;
    }
    .slide:before {
      border-radius: 8px !important;
    }
  }
}

.layout2-body{
  transform: translateY(-125px);
}