.headerBookingHistory {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0870d9;
  }
}
.history-lable{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 5px;
}
.popup-cancel .ant-modal-footer{
  display: none !important;
}

.bookingHistoryTabs {
  overflow: hidden;
  & .ant-tabs-nav .ant-tabs-nav-list {
    display: flex;
    width: 100%;
  }

  & .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 10px;
  }

  & .ant-tabs-tab {
    padding: 9px 0px;
  }

  & .ant-tabs-nav .ant-tabs-tab {
    width: 100%;
    display: flex;
    justify-content: center;
    background: none;
  }

  & .ant-tabs-nav .ant-tabs-tab-btn {
    color: #b6b6b6;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  & .ant-tabs-tab-active div {
    color: #0870d9 !important;
  }
  & .ant-tabs-tab-active {
    border: none;
  }

  & .ant-tabs-ink-bar {
    display: block;
  }
}

.scheduleItem {
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 24px 12px;
  &-lable {
    color: #525252;
  }

  &-lable,
  &-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }

  &-value {
    font-weight: 600;
  }

  &-href {
    color: #0870d9;
  }

  &-decoration {
    text-decoration: underline;
  }

  &-info {
    padding-bottom: 8px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 8px;
  }

  &-black {
    color: #525252;
  }
}

.licensePlate {
  &-tag {
    font-weight: 500;
    font-size: 11.3168px;
    line-height: 14px;
    text-align: center;
    padding: 8px 16px;
    border-radius: 5.65838px;
  }
}

.notification {
  &-btn.login__button.df {
    background: #0870d9 !important;
    border-radius: 14px !important;
    height: 56px !important;
  }
}

.cursor {
  cursor: pointer;
}

.QRCode {
  &-box {
    padding: 8px 30px 50px;

    & .ant-btn-primary {
      border-color: #0870d9 !important;
      background: #0870d9 !important;
      color: #fff;
      display: flex !important;
      align-items: center !important;
    }

    & .ant-btn span {
      font: normal normal 300 14px/20px sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
    }

    & .ant-btn-dangerous.ant-btn-primary {
      border-color: #ff0000 !important;
      background: #fff !important;
      color: #ff0000;
    }

    & .ant-btn > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 4px;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #0870d9;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
}

.wrap {
  min-width: 48px;
  padding: 2px 5px;
  height: 26px;
  background: #00b59c;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  font-size: 10.5px;
  line-height: 15px;
  color: #ffffff;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  overflow: unset;
}
@media (max-width: 350px) {
  .paging{
    .ant-pagination-item,.ant-pagination-prev{
      margin-right: 2px;
    }
  }
  .wrap{
    height: 100%;
  }
}
