.loadingPopup {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;

  img {
    height: 60px;
    animation: fade 1s infinite;
  }
  span{
    height: 22px;
  }
}

.loadingPopup-full {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loadingPopup -content {
  height: 100%;
  width: 100%;
}